servbot(5) -- IRC Plugins.
==========================

## SYNOPSIS

Servbot supports a plugins system which...

## DESCRIPTION

## COPYRIGHT

Servbot is Copyright (C) 2011 Josh Toft <http://joshtoft.com>

## SEE ALSO

servbot(1), 
<http://joshtoft.com/about>